.r1{
    background: #3f6e94;
}
.r2{
    background: #66a5de;
}
.r3{
    background: #f5f5f5;
}
.r4{
     background: #32944f;
 }
.r5{
    background: #5ba95b;
}
.r6{
    background: #8d6b9b;
}
.r7{
    background: #b05ecf;
}
.r8{
    background: #2cb82d;
}
.r9{
    background: #1dd91d;
}
.r10{
    background: #920030;
}
.r11{
    background: #a94848;
}